@import url('https://fonts.bunny.net/css?family=Lato');


body {
    font-family: 'Lato', sans-serif;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

* {
    /* font-size: 0.9rem; */
    /* line-height: 1.6; */
    
}

.navbar-brand {
    width: 50px;
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
}

.login-box {
    width: 560px !important;
}

.register-box  {
    max-width: 900px !important;
    width: 100% !important;
}

label {
    font-weight: normal !important;
}

.tox-promotion {
    display: none;
}

.tox-statusbar__branding {
    display: none;
}



/* .user-image {
    box-shadow: none !important;
} */